body {
    background-color: black;
    display:flex;
        align-items: center;
        justify-content: center;
    margin:0;
    min-height:100vh;
    min-width:100vw;
    overflow: hidden;
}

canvas {
    background-color: #23001E;
    height:100%;
    width:100%;
}

.colors { 
    display: flex;
        flex-direction: column;
    position: absolute;
        top:2.5%;
        left:2.5%;
}

h3 {
    font-family: "audiowide";
    text-align: center;
}

.colors label {
    text-align: end;
}

.slider {
    color: ivory;
    font-family: "jura", "antonio", "audiowide";
    visibility:hidden;
}

.waves { 
    display: flex;
        flex-direction: column;
    position: absolute;
        bottom:2.5%;
        right:2.5%;
}

.portfolio {
    position:absolute;
        top:10px;
    visibility:hidden;
}

.portfolio a {
    color:oldlace;
    opacity:0.3;
    text-decoration: none;
}
